<div class="container mt-5">
    <h1>Login Account</h1>
    <form action="/login_process" method="post">
      <div class="mb-3">
        <label for="agentMobile" class="form-label">Enter Mobile No.</label>
        <input type="number" class="form-control" id="agentMobile" name="agent_mobile" required>
      </div>
      <div class="mb-3">
        <label for="agentPassword" class="form-label">Enter Password</label>
        <input type="password" class="form-control" id="agentPassword" name="agent_password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>